.event-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.event-section img {
  height: 100%;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.event-section h1 {
  text-align: center;
  margin: 20px 10px 0px 10px;
  font-weight: bold;
  max-width: 500px;
}

.event-section h2 {
  text-align: center;
  font-size: 1em;
  margin: 0px 10px;
  max-width: 500px;
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 500px;
  margin: 20px;
}

.info-margin {
  margin-bottom: 10px;
}

.progress-section {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.progress-section span {
  margin-left: 15px;
}

.rate-section {
  color: #28273c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.rate-section a {
  color: #28273c;
  text-decoration: none;
}
