<section class="loading-spinner" *ngIf="isLoading$ | async">
  <mat-spinner color="accent"></mat-spinner>
</section>
<section *ngIf="!(isLoading$ | async)">
  <section class="event-section" *ngIf="event$ | async as event">
    <img src="{{ event.imageUrl }}" alt="{{ event.name }}" />
    <h1>{{ event.name }}</h1>
    <h2>{{ event.chapterName }}</h2>
    <h3>{{ event.classification }}</h3>
    <mat-card *ngIf="event.rate" class="rate-section">
      <a
        href="https://www.themoviedb.org/search?language=es&query={{
          event.name
        }}"
        >{{ event.rate.toFixed(1) }} en TMDB</a
      ></mat-card
    >
    <section class="time-section">
      {{ event.start | date : "HH:mm" }} - {{ event.end | date : "HH:mm" }}
    </section>
    <section class="progress-section">
      <mat-progress-bar
        mode="determinate"
        value="{{ event.progress }}"
        color="accent"
      ></mat-progress-bar>
      <span>{{ event.progress }}%</span>
    </section>
    <section class="info-section">
      <article class="info-channel info-margin">
        Canal:
        <mat-card
          class="channel-card"
          matRipple
          [routerLink]="['/channels/', event.channel.id]"
          ><img
            src="{{ event.channel.logoUrl }}"
            alt="{{ event.channel.name }}"
        /></mat-card>
      </article>
      <article class="info-duration info-margin">
        Duración: {{ event.duration }} minutos
      </article>
      <article class="info-synopsis info-margin">
        Sinopsis: {{ event.synopsis }}
      </article>
    </section>
  </section>
</section>
