.home-section {
  display: flex;
  flex-direction: column;
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-questions {
  font-size: 2em;
}

.banner-text {
  max-width: 800px;
  text-align: center;
  font-size: 1.2em;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 200px;
  width: 280px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  caret-color: transparent;
}

.card:hover {
  cursor: pointer;
}

.movies-card {
  background-image: url("/assets/images/movies.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.series-card {
  background-image: url("/assets/images/series.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.sports-card {
  background-image: url("/assets/images/sports.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  font-size: 4em;
}
