<section class="home-section">
  <section class="banner-section">
    <span class="banner-questions">¿No sabes qué ver?</span>
    <span class="banner-text"
      >En <strong>nosequever.es</strong> te lo ponemos fácil, no importa si son
      canales de pago o gratuitos, anlizamos más de 20 canales en castellano y
      ponemos toda la información a tu alcance de una forma rápida y sencilla.
      Elige entre películas, series o eventos deportivos y decide qué quieres
      ver.
    </span>
  </section>
  <section class="card-section">
    <article class="card movies-card" matRipple [routerLink]="'/movies'">
      Películas
    </article>
    <article class="card series-card" matRipple [routerLink]="'/series'">
      Series
    </article>
    <article class="card sports-card" matRipple [routerLink]="'/sports'">
      Deportes
    </article>
  </section>
</section>
