<section class="loading-spinner" *ngIf="isLoading$ | async">
  <mat-spinner color="accent"></mat-spinner>
</section>
<section class="series-section" *ngIf="!(isLoading$ | async)">
  <h1 class="page-title">Series</h1>
  <section class="search-input">
    <mat-icon fontIcon="search" color="accent"></mat-icon>
    <input
      id="search"
      type="search"
      name="search"
      autocomplete="off"
      placeholder="Buscar por título o canal"
      (input)="onInputChange($event)"
    />
  </section>
  <section class="series-card-section">
    <article *ngFor="let event of this.liveSeriesFiltered$ | async">
      <serie-card [serie]="event" />
    </article>
  </section>
</section>
